<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentiment Document Website</title>
  </head>
  <body>
    <header>
      <h1>Sentiment Document Website</h1>
    </header>

    <nav>
      <div class="logo">
        <img src="../img/logo.png" alt="Website Logo" height="40" />
        <span style="margin-left: 10px">Concept Sentiment</span>
      </div>
      <div class="nav-link">
        <a href="#">Home</a>
        <a href="#">About</a>
      </div>
    </nav>
    <main>
      <form id="form" class="" onsubmit="return Client.analyzeSentiment(event)">
        <div class="form-content">
          <span>Please enter your paragraph which need to sentiment:</span>
          <textarea id="text-box" placeholder="Enter your text"></textarea>
        </div>
        <input
          id="submit-btn"
          type="submit"
          name=""
          value="Submit"
          onclick="return Client.analyzeSentiment(event)"
        />
      </form>

      <div id="sentimentAnalysis"></div>
    </main>
    <!-- <script src="script.js"></script> -->
  </body>
</html>
